#Minecraft server properties
level-name={{ levelname }}
allow-nether={{ allownether }}
view-distance={{ viewdistance }}
spawn-monsters={{ spawnmonsters }}
online-mode={{ onlinemode }}
difficulty={{ difficulty }}
gamemode={{ gamemode }}
spawn-animals={{ spawnanimals }}
max-players={{ maxplayers }}
server-ip={{ serverip }}
pvp={{ pvp }}
level-seed={{ levelseed }}
server-port={{ serverport }}
allow-flight={{ allowflight }}
white-list={{ whitelist}}
motd={{ motd }}

